*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("../images/log-in-background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
body:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
   
}
/* .bg-img{
   
   
} */

/* .bg-img:after{

} */

.login-container{
    background-color:rgba(255,255,255,0.04);
    width: 350px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 60px 32px
}

.login-container header{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 35px 0;
    font-family:  sans-serif;
}

.field{
    position: relative;
    height: 3rem;
    width: 100%;
    display: flex;
    border-color: rgba(255,255,255,0.94);
}
.field input{
    height: 100%;
    width: 100%;
    text-align:center;
    border-color: transparent;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.space{
    margin-top:17px;
}
.fa{
    position: absolute;
}
span{
    margin-top: 16px;
    margin-left: 1.2rem;
    transform: scale(1.4);
}

.pass{
    text-align: left;
    margin: 10px 0 0 0;
}
.pass a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}
.pass:hover a{
    text-decoration: underline;
}

input[type="submit"]{
    background-color: rgba(21, 212, 63, 0.747);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: rgba(38, 110, 54, 0.9);
}
.show{
    position: absolute;
    font-size: 0.5rem;
    right: 15px;
    margin-top: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: none;
}
.password:valid ~.show{
    display: block;
}
.create{
    margin-top: 12px;
    color: white;
}
.sign-up a{
    color: blue;
    text-decoration: none;
}